@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Montserrat', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

img {
  width: 100%;
  display: block;
}

.portrait {
  border-radius: 250px;
}

.social {
  width: 25%;
  display: inline-block;
  padding: 1em;
}

a:link {
  color: black;
}

a:visited {
  color: orange;
}

a:hover {
  color: orange;
}

@media only screen and (min-width: 31em) {
  body {
    max-width: 20em;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 56em) {

  h1 {
    padding-top: 1.5em;
  }

  .portrait {
    float: left;
    max-width: 20em;
    padding: 1em;
  }

  body {
    max-width: 40em;
    margin: 0 auto;
    text-align: left;
  }

  .social {
    width: 15%;
  }

  .github {
    padding-left: 0;
    width: 13%;
  }

}
